<%- include("header") -%>
    <h2>This is About Page</h2>
    <p textalign="center">This web application has been designed using HTML, CSS and node js module where extended EJS has been used.</p>
<%- include("footer") -%>