/*Element Selector*/
p,
a{
    color: green;
}

li{
    list-style-type: square;
}

/*Class Selector*/
span.special, li.special{
    color: orange;
    font-weight: bold;
}

li em{
    color: rebeccapurple;
}

h1+p{
    font-size: 200%;
}

a:hover{
    color: saddlebrown;
    text-decoration: none; /*due to the text-decoration, color of the link w2ill change when we will select the link or place cursor on that and the uderline also gets erased*/
}

body h1+p .special{
    /*(body h1+p .special -> this indicates that inside the body, in the para of h1 tag of span class special, we will make the required changes*/
    color: yellow;
    background-color: black;
    padding: 5px;
}

#heading{
    color: red;
    background-color: black;
}

p#one{
    /*In the p tag of h1 tag, we select for id=one*/
    color: rebeccapurple;
}

/*Attribute Selector*/
li[class]{
    font-size: 300%;
}

li[class="a"]{
    color: royalblue;
}

li[class~="a"]{
    /*This means that any class which have one a in it. For ex: Item 4 have one class value which is "a" and Item 5 have two class values in which one of them is "a", hence two items get selected*/
    color: red;
}

/*Everything Selector OR Universal Seleetor*/
*{
    list-style-type: none;
}
